<section id="algorithm-selection" class="jumbotron">
    <form>
        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="input">Input</label>
                    <input type="text" ng-model="machineInput" class="form-control" id="input" placeholder="Enter input">
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="exampleSelect1">Algorithm Selection</label>
                    <select class="form-control" id="exampleSelect1">
                    <option>01*0</option>
                    <option>Palindrom</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-block">Run Simulation</button>
    </form>
</section>