<div>
  <div style="layout-align:center, padding: 24px;" >
    <h2>Maquina de Turing</h2>
    <div>
      This is a Turing machine simulator. To use it:
      <li>
        Load one of the example programs, or write your own in the Turing machine program area. See below for syntax.
      </li>
      <li>
          Enter something in the 'Input' area - this will be written on the tape initially as input to the machine. Click 'Reset' to initialise the machine.
      </li>
      <li>
          Click on 'Run' to start the Turing machine and run it until it halts (if ever). Click on 'Pause' to interrupt the Turing machine while it is running. Alternately, click 'Step' to run a single step of the Turing machine.
      </li>
      <li>
          Click 'Reset' to restore the Turing machine to its initial state so it can be run again.
      </li>
    </div>
      
    
  </div>
  <div layout="row">
    <div flex="15">
      eh o q boy
    </div>
    <div flex="70">
      <md-input-container class="md-block">
        <textarea rows="10" cols="80"></textarea>
      </md-input-container>
    </div>
    <div>
      <h1>Control</h1>
      <div>
        <button>Run</button>
      </div>
      <div>
        <button>Step</button>
      </div>
      <div>
        <button>Pause</button>
      </div>
      <div>
        <button>Reset</button>
      </div>
      <div>
        <p>Initial Input
        <input type="text" name="initial input">
        </p>
      </div> 
    </div>
  </div>
  
</div>